@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*-------------------------
  headerの設定
-------------------------*/
.header-wrapper{
  width: 100%;
  height: 100px;

}

header {
  transform: translateY(-100px);
  transition: transform 0.5s;
  position: fixed;
  z-index: 999;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFF;
  max-width: 1600px;
}

header.active{
  transform: translateY(0);
}
/*-------------------------
  navの設定
-------------------------*/
.header-nav {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}


/*-------------------------
  logoの設定
-------------------------*/
.header-log {
  width: 400px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.header-log a {
  display: block;
  width: 100%;
  height: 100%;
  /* background-image: url('../img/site_logo.png');
  background-size: 100% 100%;
  background-position:center;
  background-repeat: no-repeat; */
}
.header-log a img {
  width: 74%;
}

@media screen and (max-width: 1000px) {
  .header-log {
    width: 330px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .header-log{
    padding: 10px;
  }
  .header-log a {
    display: block;
    width: 300px;
    height: 100px;
    position: fixed;
    z-index: 999;
  }
}

@media screen and (max-width: 500px) {
  .header-log {
    width: 275px;
  }
  .header-log a {
    display: block;
    width: 265px;
    height: 80px;
    position: fixed;
  }
}

/*-------------------------
  ハンバーガーメニュー設定（ボタン）
-------------------------*/
.mobile-cover {
  display: none;
}

@media screen and (max-width: 768px) {

  .mobile-cover {
    display: block;
    height: 100%;
    width: 20%;
  }

  .mobile-menu {
    cursor: pointer;
    width: 80px;
    height: 82px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 10px;
    z-index: 999;

  }

  .mobile-menu span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
  }

  .mobile-menu span:nth-of-type(1),
  .mobile-menu span:nth-of-type(3) {
    height: 3px;
    background-color: #000;
    width: 62%;
    left: 12px;
  }

  .mobile-menu span:nth-of-type(1) {
    top: 22px;
  }

  .mobile-menu span:nth-of-type(2) {
    top: 30px;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
  }

  .mobile-menu span:nth-of-type(3) {
    top: 50px;
  }

  .mobile-menu.action span:nth-of-type(1) {
    top: 23px;
    left: 23px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .mobile-menu.action span:nth-of-type(2) {
    opacity: 0;
  }

  .mobile-menu.action span:nth-of-type(3) {
    top: 35px;
    left: 23px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}

/*-------------------------
  navのナビゲーション部分設定（PC）
-------------------------*/
.nav__wrapper {
  width: 55%;
}

.nav__wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.nav__wrapper ul li {
  height: 100%;
  width: 100%;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.nav__wrapper ul li:nth-of-type(4) {
  background-color: #000080;
}
.nav__wrapper ul li:nth-of-type(4) a {
 color: #FFF;
}

.nav__wrapper ul li a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #000;
}

.nav__wrapper ul li:hover a{
  transition: 0.5s;
  color:blue;
}

/*-------------------------
  navのナビゲーションのレスポンシブ設定
-------------------------*/
@media screen and (max-width: 768px) {
  .nav__wrapper {
    background-color: #FFF;
    width: 100%;
    height: 100vh;
    padding: 90px 0 0 0;
    position: fixed;
    top: 0;
    right: -100%;
    transition: .5s;
    z-index: 700;
  }

  .nav__wrapper.active {
    right: 0;
  }

  .nav__wrapper ul {
    display: block;
    height: 80px;
  }

  .nav__wrapper ul li {
    border: none;
  }
  .nav__wrapper ul li:nth-of-type(5) {
    background-color: #000080;
  }
  .nav__wrapper ul li:nth-of-type(5) a {
   color: #FFF;
  }
}

/*-------------------------
  footerコード
-------------------------*/
.footer04 {
  color: #808080;
  background: #e5e5e5;
  text-align: center;
  padding: 30px;

 }
 .footer04 a {
  color: #808080;
  text-decoration: none;
 }
 .footer04 a:hover {
  text-decoration: underline;
 }
 .footer04 .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .footer04 .menu li {
  margin: 0;
  padding: 0 20px;
  border-right: 1px #808080 solid;
 }
 .footer04 .menu li:last-child {
  border: none;
 }
 .footer04 .copyright {
  margin: 0;
  padding: 20px 0 0 0;
 }
 
 @media only screen and (max-width: 599px) {
 .footer04 .menu {
  justify-content: flex-start;
 }
 .footer04 .menu li {
  width: 50%;
  box-sizing: border-box;
  border: none;
 }
 .footer04 .menu li:nth-child(odd) {
  border-right: 1px #808080 solid;
 }
 }
